.blog-detail-page {
  width: 100%;
  min-height: 80vh;
  padding: 20% 5%;
  background-color: white;
}

.blog-detail-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.blog-detail-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 50px;
}

.blog-detail-image {
  width: 100%;
  max-width: 350px;
  height: 350px;
  max-height: 350px;
  border-radius: 10px;
  /* flex: 1; */
}

.blog-detail-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.blog-detail-header {
  flex: 1;
}

.blog-detail-header > h1 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 30px;
}

.blog-detail-attribute {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.blog-detail-attribute span {
  font-size: 16px;
}

.blog-content {
  font-size: 16px;
  background-color: whitesmoke;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
  line-height: 1.6;
  border-radius: 10px;
}

div.blog-content ul {
  padding: 0 35px;
}

/* tablet */
@media (min-width: 768px) {
  .blog-detail-page {
    padding: 8% 10%;
  }
  div.blog-content p img {
    max-width: 60%;
    margin-left: 18%;
  }

  .blog-detail-header-container {
    flex-direction: row;
    gap: 20px;
  }

  .blog-detail-image {
    min-width: 350px;
  }
}

@media (min-width: 1124px) {
}
