.content-wrapper {
  background-image: url("https://res.cloudinary.com/dzqp0dnia/image/upload/v1706100017/background-service-page_o5p9iu.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10% 20px;
  color: black;
  position: relative;
  min-height: 90vh;
}

.text-container {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  z-index: 1;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.text-container p {
  font-size: 16px;
}

.heading {
  color: #0033a0;
  font-size: 32px;
  margin-bottom: 20px;
  border-bottom: 2px solid #b58500;
  text-transform: capitalize;
}

.heading span {
  display: block;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.text-container div {
  flex: 1;
}

div.text-container p {
  line-height: 1.5;
  max-width: 400px;
  /* margin-bottom: 15px; */
}

.certs-list-container {
  background-color: #0033a0;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
  font-size: 16px;
  /* background-image: url("../public//service-page-design-asset.svg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 400px;
}

.certs-list-container > p {
  font-weight: 300;
  color: white;
  padding-bottom: 8px;
  border-bottom: 2px solid #b58500;
  margin-bottom: 12px;
  font-size: 14px;
  text-align: center;
}

.certs-list-design-asset {
  clip-path: circle(50% at 50% 50%);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blue;
  right: -38%;
  display: none;
}

.certs-list {
  padding: 0;
  color: white;
  position: relative;
}

.certs-list > li {
  border-bottom: 1px solid;
  max-width: max-content;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 14px;
  margin-left: 5%;
}

/* tablet */
@media (min-width: 768px) {
  .text-container {
    flex-direction: row;
    margin-top: 0;
  }
}
