.profile-page {
  width: 100%;
  min-height: 100vh;
  /* padding: 20% 5%; */
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  /* grid-auto-columns: minmax(300px, auto); */
  background-color: white;
  padding-top: 100px;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 30px;
}

.profile-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  /* justify-content: center; */
  /* background-color: ; */
  gap: 10px;
}

.profile-details-container span {
  font-weight: 300;
}

.content-container {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  padding: 0 20px;
}

.profile-name {
  font-size: 32px;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
}

.profile-image {
  width: 175px;
  height: 175px;
  /* clip-path: circle(50% at 50% 50%); */
  border: 5px solid var(--brand-gold);
  background-color: rgb(169, 166, 166);
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.content-container p > a {
  color: var(--brand-blue);
  font-weight: 700;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.profile-paragraph {
  font-size: 16px;
  line-height: 1.8;
  /* text-align: center; */
}

@media (min-width: 768px) {
  .profile-page {
    /* padding: 10%; */
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
  }

  .profile-image {
    width: 250px;
    height: 250px;
  }

  .profile-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-container {
    padding: 50px;
  }
}
