.staff-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: white;
  padding: 20px 0;
  animation: fade 3s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.staff-card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.staff-section-header {
  flex: 1;
  text-align: left;
  font-size: 40px;
  font-weight: 300;
  border-bottom: 3px solid #b68603;
  margin-bottom: 14px;
  padding-left: 20px;
}

.staff-card {
  margin: 8px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
}

.staff-content-container {
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: 100%;
  color: white;
  z-index: 2;
}

.staff-name {
  font-size: 12px;
  text-transform: uppercase;
  max-width: 140px;
}

.staff-title {
  font-size: 10.5px;
  text-transform: capitalize;
  font-weight: 300;
  max-width: 100px;
}

.staff-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.staff-carousel-header {
  text-transform: capitalize;
  margin-bottom: 12px;
  font-size: 24px;
  text-align: left;
  font-weight: 300;
}

.cloud-image {
  display: none;
}

.staff-carousel-header strong {
  font-weight: 400;
  color: var(--brand-blue);
}

.staff-carousel-subheader {
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: 400;
  text-align: left;
  line-height: 1.6;
}

.carousel-headers-container {
  padding: 0px 20px;
}

.carousel {
  max-width: 350px;
}

.slick-track {
  display: flex;
}

.carousel-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 14px;
}

.carousel-button-container button {
  border: none;
  background: none;
}

.carousel-next-button,
.carousel-prev-button {
  display: none;
}

@media (min-width: 980px) {
  .staff-section-wrapper {
    flex-direction: row;
    gap: 20px;
  }

  .staff-card:hover {
    transform: scale(1.025);
    cursor: pointer;
  }

  .carousel-headers-container {
    padding: 0;
    max-width: 90%;
  }

  .staff-carousel-header {
    font-size: 32px;
  }

  .staff-section-header {
    margin-top: 8%;
    margin-left: 5%;
    font-size: 45px;
  }

  .staff-container {
    align-items: flex-start;
  }

  .cloud-image {
    display: block;
    position: absolute;
    left: -100px;
    bottom: -90px;
  }

  .carousel-next-button,
  .carousel-prev-button {
    display: block;
  }

  .carousel-next-button:hover {
    transform: scale(1.07);
    cursor: pointer;
  }

  .carousel-prev-button:hover {
    transform: rotate(180deg) scale(1.07) !important;
    cursor: pointer;
  }
}
